{
  "plugins": ["prettier"],
  "extends": ["@nuxtjs/eslint-config-typescript", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "vue/multi-word-component-names": "off",
    "vue/no-multiple-template-root": "off",
    "vue/no-textarea-mustache": "off",
    "no-redeclare": "off",
    "no-use-before-define": "off"
  }
}
