/* Element Plus 主题变量覆盖 */
body, :host {
  --el-color-white: var(--semi-color-white);
  --el-color-black: var(--semi-color-black);
  --el-font-size-extra-large: var(--semi-font-header-4);
  --el-font-size-large: var(--semi-font-size-header-5);
  --el-font-size-medium: var(--semi-font-size-header-6);
  --el-font-size-base: var(--semi-font-size-regular);
  --el-font-size-small: var(--semi-font-size-small);
  --el-font-size-extra-small: var(--semi-font-size-small);
  --el-font-weight-primary: var(--semi-font-weight-bold);
  --el-border-radius-base: var(--semi-border-radius-small);
  --el-border-radius-small: var(--semi-border-radius-small);
  --el-border-radius-round: var(--semi-border-radius-large);
  --el-border-radius-circle: var(--semi-border-radius-circle);

  --el-color-primary: var(--semi-color-primary);
  --el-color-primary-light-3: var(--semi-brand-4);
  --el-color-primary-light-5: var(--semi-brand-3);
  --el-color-primary-light-7: var(--semi-brand-2);
  --el-color-primary-light-8: var(--semi-brand-1);
  --el-color-primary-light-9: var(--semi-brand-0);
  --el-color-primary-dark-2: var(--semi-brand-1);
  --el-color-success: var(--semi-color-success);
  --el-color-success-light-3: var(--semi-success-4);
  --el-color-success-light-5: var(--semi-success-3);
  --el-color-success-light-7: var(--semi-success-2);
  --el-color-success-light-8: var(--semi-success-1);
  --el-color-success-light-9: var(--semi-success-0);
  --el-color-success-dark-2: var(--semi-success-1);
  --el-color-warning: var(--semi-color-warning);
  --el-color-warning-light-3: var(--semi-warning-4);
  --el-color-warning-light-5: var(--semi-warning-3);
  --el-color-warning-light-7: var(--semi-warning-2);
  --el-color-warning-light-8: var(--semi-warning-1);
  --el-color-warning-light-9: var(--semi-warning-0);
  --el-color-warning-dark-2: var(--semi-warning-1);
  --el-color-danger: var(--semi-color-danger);
  --el-color-danger-light-3: var(--semi-danger-4);
  --el-color-danger-light-5: var(--semi-danger-3);
  --el-color-danger-light-7: var(--semi-danger-2);
  --el-color-danger-light-8: var(--semi-danger-1);
  --el-color-danger-light-9: var(--semi-danger-0);
  --el-color-danger-dark-2: var(--semi-danger-1);
  --el-color-error: var(--semi-color-danger);
  --el-color-error-light-3: var(--semi-danger-4);
  --el-color-error-light-5: var(--semi-danger-3);
  --el-color-error-light-7: var(--semi-danger-2);
  --el-color-error-light-8: var(--semi-danger-1);
  --el-color-error-light-9: var(--semi-danger-0);
  --el-color-error-dark-2: var(--semi-danger-1);
  --el-color-info: var(--semi-color-info);
  --el-color-info-light-3: var(--semi-info-4);
  --el-color-info-light-5: var(--semi-info-3);
  --el-color-info-light-7: var(--semi-info-2);
  --el-color-info-light-8: var(--semi-info-1);
  --el-color-info-light-9: var(--semi-info-0);
  --el-color-info-dark-2: var(--semi-info-1);
  --el-bg-color: var(--semi-color-bg-0);
  --el-bg-color-page: var(--semi-color-bg-0);
  --el-bg-color-overlay: var(--semi-color-bg-0);
  --el-text-color-primary: var(--semi-color-text-0);
  --el-text-color-regular: var(--semi-color-text-1);
  --el-text-color-secondary: rgb(var(--semi-color-text-2));
  --el-text-color-placeholder: rgb(var(--semi-color-text-2));
  --el-text-color-disabled: var(--semi-color-disabled-text);
  --el-border-color: var(--semi-color-border);
  --el-fill-color: var(--semi-color-fill-0);
  --el-fill-color-light: var(--semi-color-fill-1);
  --el-fill-color-lighter: var(--semi-color-fill-2);
  --el-fill-color-blank: var(--semi-white);
  --el-box-shadow: var(--semi-shadow-elevated);
  --el-diabled-bg-color: var(--semi-color-disabled-bg);
  --el-diabled-text-color: var(--semi-color-disabled-text);
  --el-diabled-border-color: var(--semi-color-disabled-border);
  --el-overlay-color: var(--semi-color-overlay-bg);
  --el-mask-color: var(--semi-color-overlay-bg);
}

.panel {
  .el-breadcrumb__item {
    &:last-child {
      .el-breadcrumb__inner {
        color: var(--el-text-color-placeholder);

        &:hover {
          color: var(--el-text-color-placeholder);
        }
      }
    }
  }

  .el-breadcrumb__separator {
    font-weight: normal;
    color: #ccc;
  }

  .el-breadcrumb__inner {
    &.is-link  {
      color: var(--el-color-success);
      font-weight: normal;

      &:hover {
        color: var(--el-color-success);
      }
    }
  }
}