/* Element Plus 主题变量覆盖 */
:root {
  --el-color-primary: rgb(var(--color-primary));
  --el-color-success: rgb(var(--color-success));
  --el-color-info: rgb(var(--color-info));

  --el-border-radius-base: 3px;
  --el-border-radius-small: 2px;

  --el-font-size-base: 14px;
}