// ===========================================================================
// Button
// ===========================================================================
@include b(button) {
  @include m(green) {
    @include button;

    background-color: #80bd01;

    @include hover {
      background-color: #6ba44e;
    }
  }

  @include m(skyblue) {
    @include button;

    background-color: #5bc0de;

    @include hover {
      background-color: #2f96b4;
    }
  }

  @include m(blue) {
    @include button;

    background-color: #08c;

    @include hover {
      background-color: #05c;
    }
  }

  @include m(white) {
    @include button;

    background-color: #e5e5e5;
    color: #838383;

    @include hover {
      background-color: #909090;
      color: white;
    }
  }
}
