// ===========================================================================
// Main
// ===========================================================================
@include b(main) {
  display: flex;
  width: 90%;
  min-width: 960px;
  max-width: 1400px;
  min-height: calc(100vh - 166px);
  flex: 1;
  margin: 15px auto;

  @include e(content) {
    flex: 1;
    margin-right: 15px;
  }

  @include e(sidebar) {
    flex: 0 0 290px;
    margin-bottom: 20px;
    font-size: 14px;

    .panel {
      font-size: 13px;

      &__header {
        color: #51585c;
      }
    }
  }

  @include e(panel) {
    margin-bottom: 13px;
    background-color: #fff;
  }

  @include e(header) {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 3px 3px 0 0;
    color: #444;
    line-height: 20px;
  }

  @include e(pagination) {
    padding: 10px 0 10px 10px;

    ul {
      margin-bottom: 0;
      margin-left: 0;
      border-radius: 4px;
    }
  }
}
