/* Break-points
 -------------------------- */
 $--sm: 768px !default;
 $--md: 992px !default;
 $--lg: 1200px !default;
 $--xl: 1920px !default;

 $--breakpoints: (
   'xs' : (max-width: $--sm),
   'sm' : (min-width: $--sm),
   'md' : (min-width: $--md),
   'lg' : (min-width: $--lg),
   'xl' : (min-width: $--xl)
 );

 @mixin res($key, $map: $--breakpoints) {
   // 循环断点Map，如果存在则返回
   @if map-has-key($map, $key) {
     @media only screen and #{inspect(map-get($map, $key))} {
       @content;
     }
   } @else {
     @warn "Undefeined points: `#{$map}`";
   }
 }

 [class*="cn-col-"] {
   float: left;
   box-sizing: border-box;
 }

 .cn-col-0 {
   display: none;
 }

 @for $i from 0 through 24 {
   .cn-col-#{$i} {
     width: (1 / 24 * $i * 100) * 1%;
   }

   .cn-col-offset-#{$i} {
     margin-left: (1 / 24 * $i * 100) * 1%;
   }

   .cn-col-pull-#{$i} {
     position: relative;
     right: (1 / 24 * $i * 100) * 1%;
   }

   .cn-col-push-#{$i} {
     position: relative;
     left: (1 / 24 * $i * 100) * 1%;
   }
 }

 @include res(xs) {
   .cn-col-xs-0 {
     display: none;
   }
   @for $i from 0 through 24 {
     .cn-col-xs-#{$i} {
       width: (1 / 24 * $i * 100) * 1%;
     }

     .cn-col-xs-offset-#{$i} {
       margin-left: (1 / 24 * $i * 100) * 1%;
     }

     .cn-col-xs-pull-#{$i} {
       position: relative;
       right: (1 / 24 * $i * 100) * 1%;
     }

     .cn-col-xs-push-#{$i} {
       position: relative;
       left: (1 / 24 * $i * 100) * 1%;
     }
   }
 }

 @include res(sm) {
   .cn-col-sm-0 {
     display: none;
   }
   @for $i from 0 through 24 {
     .cn-col-sm-#{$i} {
       width: (1 / 24 * $i * 100) * 1%;
     }

     .cn-col-sm-offset-#{$i} {
       margin-left: (1 / 24 * $i * 100) * 1%;
     }

     .cn-col-sm-pull-#{$i} {
       position: relative;
       right: (1 / 24 * $i * 100) * 1%;
     }

     .cn-col-sm-push-#{$i} {
       position: relative;
       left: (1 / 24 * $i * 100) * 1%;
     }
   }
 }

 @include res(md) {
   .cn-col-md-0 {
     display: none;
   }
   @for $i from 0 through 24 {
     .cn-col-md-#{$i} {
       width: (1 / 24 * $i * 100) * 1%;
     }

     .cn-col-md-offset-#{$i} {
       margin-left: (1 / 24 * $i * 100) * 1%;
     }

     .cn-col-md-pull-#{$i} {
       position: relative;
       right: (1 / 24 * $i * 100) * 1%;
     }

     .cn-col-md-push-#{$i} {
       position: relative;
       left: (1 / 24 * $i * 100) * 1%;
     }
   }
 }

 @include res(lg) {
   .cn-col-lg-0 {
     display: none;
   }
   @for $i from 0 through 24 {
     .cn-col-lg-#{$i} {
       width: (1 / 24 * $i * 100) * 1%;
     }

     .cn-col-lg-offset-#{$i} {
       margin-left: (1 / 24 * $i * 100) * 1%;
     }

     .cn-col-lg-pull-#{$i} {
       position: relative;
       right: (1 / 24 * $i * 100) * 1%;
     }

     .cn-col-lg-push-#{$i} {
       position: relative;
       left: (1 / 24 * $i * 100) * 1%;
     }
   }
 }

 @include res(xl) {
   .cn-col-xl-0 {
     display: none;
   }
   @for $i from 0 through 24 {
     .cn-col-xl-#{$i} {
       width: (1 / 24 * $i * 100) * 1%;
     }

     .cn-col-xl-offset-#{$i} {
       margin-left: (1 / 24 * $i * 100) * 1%;
     }

     .cn-col-xl-pull-#{$i} {
       position: relative;
       right: (1 / 24 * $i * 100) * 1%;
     }

     .cn-col-xl-push-#{$i} {
       position: relative;
       left: (1 / 24 * $i * 100) * 1%;
     }
   }
 }
